<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=student._id %>
      <br> Email: <%=student.email%>
      <br> firstname: <%=student.firstname%>
      <br> lastname: <%=student.firstname%>
      <br> phonenumber: <%=student.phonenumber%>
      <hr>

      <form method="get" action="/developer">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>